<title>My Project for HW-1</title>
  <h1>String Count Comparer</h1>
	This program compares a list of strings(At the first form) with a given string(At the second form). User also gives a number at the third form(Must be >=0). Program checks if the given word found in the given string list as much as given number.
 <h1></h1>
	Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	    <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

